body {
	font-family: Helvetica;
	text-align: center;
	margin: auto;
}

header {
	background-image: url(../images/the-flatiron-building.png);
}

header nav {
	margin-left: -40px;

}

header li a {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: white;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

nav ul li {
	list-style: none;
	font-size: 18px;
	color: white;
}

.our_process h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

#designed_in {
	background-image: url(../images/the-flatiron-building.png);
}

#designed_in h2 {
	font-size: 23px
	font-weight: bold;
	color: white;
}

footer {
	background-color: dimgray;
	height: 30px;
	text-align: left;
}

#copyright	 {
	font-size: 11px;
	color: white;
	float: left;
	vertical-align: middle;
}

footer li a {
	font-size: 11px;
	font-weight: bold;
	color: white;
} 

footer li {
		display: inline-block;
}
